* {
  font-family: "Barlow Condensed";
}

.dotted-border {
  border-bottom: 4px dotted rgba(170, 170, 170, 0.274);
}

.header-area {
  background-color: #f7f7f7;
}

.nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-weight: 600;
  color: #000;
}

.nav-link:hover {
  color: #aaa !important;
}

.nav-link i {
  font-size: 1rem;
}

.active {
  color: #aaa !important;
}

.dropdown-menu {
  border: none;
  width: 200px;
}

.dropdown-menu li {
  border-bottom: 1px solid rgba(170, 170, 170, 0.274);
}

.dropdown-menu li a {
  letter-spacing: 1px;
  font-size: 18px;
}

.left-content,
.right-content {
  position: relative;
}

.left-inner-content,
.right-inner-content,
.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-inner-content p {
  font-size: 22px;
}

.left-inner-content .trbtn,
.hover-content .trbtn,
.left-content .trbtn {
  background-color: transparent;
  transition: all 0.2s;
  width: 150px;
  letter-spacing: 1px;
}

.left-inner-content .trbtn:hover,
.hover-content .trbtn:hover {
  background-color: #fff;
  color: #000 !important;
}

.hover-content {
  background-color: rgba(32, 32, 32, 0.97);
  display: none;
}

.img-part .hover-content {
  width: 100%;
  height: 100%;
}

.right-content:hover .hover-content {
  display: block;
}

.img-part:hover .hover-content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: flex-end;
  padding: 16px;
}

.card-body-up ul li {
  font-size: 12px;
  margin: 0 2px;
}

.left-content .trbtn:hover {
  background-color: #000;
  color: #fff !important;
}

.leather {
  background-color: #f8f8f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 261px;
}

.subscribe .form-control {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 6px 12px;
}

.subscribe .form-control::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
#subscribe .trbtn:hover {
  background-color: #fff;
  color: #000 !important;
  border-color: #000;
}

.subscribe ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.subscribe ul li a:hover {
  color: #000 !important;
}

footer {
  color: #fff !important;
  background-color: #2a2a2a;
}

footer ul li {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.under-footer a {
  color: #cff;
  transition: color 0.2s;
}

.under-footer a:hover {
  color: #c66;
}